body {
    background-color: #2f3136;
    color: #fff;
}

@font-face {
    font-family: 'GGSansRegular';
    src: url('./fonts/ggsansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'GGSansSemiBold';
    src: url('./fonts/ggsansSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'GGSansBold';
    src: url('./fonts/ggsansBold.ttf') format('truetype');
}

.chatUsername {
    color: #ffffff;
    font-family: 'GGSansSemiBold';
    margin: 10px;
}
.chatMessage {
    color: #e0e0e0;
    font-family: 'GGSansRegular';
    margin: 10px;
}
.chatBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chatInput {
    background-color: #36393f;
    color: #e0e0e0;
    font-family: 'GGSansRegular';
    border: none;
    padding: 9px;
    border-radius: 7px;
    outline: none;
    width: calc(97.5%);
    position: fixed;
    bottom: 10px;
}

.smallIcon {
    width: 20px;
    height: 20px;
    
}

.channelName {
    color: #ffffff;
    font-family: 'GGSansBold';
    background-color: #36393f;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}